<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">
<h1>Site Management</h1>

<f:if condition="{demoSite}">
    <f:then>
        <p class="lead">Create new sites based on demo tree <strong>{demoSite.title}</strong>.</p>

        <f:form>
            <f:form.hidden name="action" value="create"/>
            <f:form.hidden name="base" value="{demoSite.uid}"/>
            <div class="row">
                <div class="col-xs-5">

                    <div class="form-group">
                        <label>Languages</label>

                        <f:for each="{siteConfiguration.languages}" as="language">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="{language.languageId}">

                                    <core:icon identifier="{language.flagIdentifier}"/>
                                    {siteLanguage.title} {language.title} [UID: {language.languageId}]
                                </label>
                            </div>
                        </f:for>
                    </div>
                    <div class="form-group">
                        <label for="identifier">New identifier</label>
                        <input required name="identifier" id="identifier" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <input required name="domain" id="domain" class="form-control"
                               placeholder="the-new-domain.com"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="form-group">
                        <label>Users</label>
                        <div>
                            <small class="form-text text-muted">
                                Syntax for new users is: <code>username|name|email</code>. One user per line
                            </small>
                        </div>
                        <table class="table table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{users}" as="user">
                                <tr>
                                    <td>
                                        <core:iconForRecord table="be_users" row="{user}"/>
                                        {user.username}
                                    </td>
                                    <td>{user.description}</td>
                                    <td>
                                        <textarea name="users[{user.uid}]" class="form-control"></textarea>
                                    </td>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Duplicate"/>
            </div>
        </f:form>
    </f:then>
    <f:else>

    </f:else>
</f:if>

</html>
